<div class="game-board-container">
    <div class="game-board-header">
        <div class="column">

            <!-- Profile -->
            <square-player square-player-name="game.players[0].name"
                           square-player-image="game.players[0].image">
            </square-player>
        </div>
        <div class="column column-middle">

            <!-- VS -->
            <span ng-show="play.phase == 'waiting'"
                  class="versus animated zoomIn force-ng-hide">VS
            </span>

            <!-- Timer -->
            <timer ng-show="play.phase == 'playing'"
                   class="animated zoomIn force-ng-hide"
                   interval="1000"
                   language="fr"
                   autostart="false">
                {{millis | date:'mm:ss'}}
            </timer>
        </div>
        <div class="column">

            <!-- Profile -->
            <square-player square-player-name="game.players[1].name"
                           square-player-image="game.players[1].image"
                           square-player-reverse="true">
            </square-player>
        </div>
    </div>
    <hr>
    <div class="game-board-body"
         ui-view>
    </div>
</div>