<nav class="nolan-navbar">
    <div class="nolan-navbar-block left">
        <a class="link link-blue link-title"
           ng-class="{'active': $goTo.isCurrentView('square.home')}"
           ng-click="$goTo.view('square.home')"
           tabindex="0"
           ui-sref="square.home">
            Square App
        </a>
        <a class="link link-blue"
           ng-class="{'active': goTo.isCurrentView('square.home')}"
           ng-click="$goTo.view('square.home')"
           tabindex="0"
           ui-sref="square.home">
            {{ 'HOME.TITLE' | translate }}
        </a>
    </div>
</nav>
