<nav class="nolan-navbar">
    <div class="nolan-navbar-block left">
        <a class="link link-blue link-title"
           tabindex="0"
           ui-sref="square.home">
            Square App
        </a>
        <a class="link link-blue"
           ui-sref-active="active"
           tabindex="0"
           ui-sref="square.home">
            {{ 'NAVBAR.HOME' | translate }}
        </a>
        <a class="link link-blue"
           ui-sref-active="active"
           tabindex="0"
           ui-sref="square.init.grid">
            {{ 'NAVBAR.CONFIGURATION' | translate }}
        </a>
        <a class="link link-blue"
           ui-sref-active="active"
           tabindex="0"
           ui-sref="square.game.play.begin">
            {{ 'NAVBAR.PLAY' | translate }}
        </a>
    </div>
</nav>
