h1.game-title {
    display         : flex;
    flex-direction  : row;
    justify-content : space-between;
    align-items     : center;
    margin          : 0;
}
span.versus {
    color       : @nolan-color-dark-purple;
    font-weight : 800;
    font-size   : 25px;
    padding     : 0 @nolan-space-small;
}
div.game-board-container {
    display          : flex;
    flex-direction   : column;
    background-color : @nolan-color-white;
    border           : 1px solid @nolan-color-line-rule;
    border-radius    : @nolan-radius;
    width            : 100%;
    div.game-board-header {
        display         : flex;
        flex-direction  : row;
        justify-content : space-between;
        align-items     : center;
        padding         : @nolan-space-base;
        div.column {
            flex : 1;
            &.column-middle {
                text-align : center;
            }
        }
    }
    hr {
        margin : 0;
    }
    div.game-board-body {
        padding    : @nolan-space-base;
        min-height : 50vh;
        position   : relative;
        div.begin-container {
            position  : absolute;
            top       : 50%;
            left      : 50%;
            transform : translate(-50%, -50%);
        }
        div.play-container {
        }
    }
}