<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>{{ 'HOME.HEADER.H1.1' | translate }}</h1>
            <h1>{{ 'HOME.HEADER.H1.2' | translate }}</h1>
            <hr class="small">
            <h2>{{ 'HOME.HEADER.H2.1' | translate }}</h2>
            <h2>{{ 'HOME.HEADER.H2.2' | translate }}</h2>
            <div class="space-large-before">
                <cozen-btn cozen-btn-label="'HOME.HEADER.PLAY'"
                           cozen-btn-type-default
                           cozen-btn-auto-sizing="true"
                           cozen-btn-size-large
                           cozen-btn-on-click="$goTo.view('square.init.grid')">
                </cozen-btn>
            </div>
        </div>
    </div>
</header>