<div class="container main-view animated fadeIn force-ng-hide">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-push-2">

            <!-- Title -->
            <h1 class="with-icon">
                <img ng-src="images/icons8/nolan/39/Horizontal-Settings-Mixer.png">
                <span>{{ 'INIT.H1' | translate }}</span>
            </h1>

            <!-- Description -->
            <p class="help-text">{{ 'INIT.P.1' | translate }}</p>
            <p class="help-text">{{ 'INIT.P.2' | translate }}</p>
            <p class="help-text">{{ 'INIT.P.3' | translate }}</p>
            <p class="help-text">{{ 'INIT.P.4' | translate }}</p>

            <!-- Content -->
            <div class="nolan-form-container animated fadeIn force-ng-hide"
                 ui-view>
            </div>
        </div>
    </div>
</div>