<div class="container main-view animated fadeIn force-ng-hide">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-push-2">

            <!-- Title -->
            <h1 class="with-icon">
                <img ng-src="images/icons8/nolan/39/Horizontal-Settings-Mixer.png">
                <span>{{ 'INIT.H1' | translate }}</span>
            </h1>

            <!-- Description -->
            <a class="help-text"
               ui-sref="square.init.grid"
               ui-sref-active="active">
                {{ 'INIT.P.1' | translate }}
            </a>
            <a class="help-text"
               ui-sref="square.init.type"
               ui-sref-active="active">
                {{ 'INIT.P.2' | translate }}
            </a>
            <a class="help-text"
               ui-sref="square.init.level"
               ui-sref-active="active">
                {{ 'INIT.P.3' | translate }}
            </a>
            <a class="help-text"
               ui-sref="square.game.play.begin"
               ui-sref-active="active">
                {{ 'INIT.P.4' | translate }}
            </a>

            <!-- Content -->
            <div class="nolan-form-container animated fadeIn force-ng-hide"
                 ui-view>
            </div>
        </div>
    </div>
</div>